* {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  background: url(/default_website/img/main.svg);
  background-color: #001220;
  font-family: monospace;
  font-size: 16px;
}

.container {
  margin: 1%;
  color: aliceblue;
}

.container-nav {
  margin: 1%;
  display: flex;
  justify-content: space-evenly;
}

nav {
  background: linear-gradient(
    90deg,
    rgba(247, 161, 0, 0.8) 0%,
    rgba(252, 0, 210, 0.8) 25%,
    rgba(113, 40, 255, 0.8) 50%,
    rgba(0, 137, 255, 0.8) 75%,
    rgba(14, 215, 255, 0.8) 100%
  );
  padding: 0.6%;
  border-radius: 15px;
}

nav a {
  color: aliceblue;
  text-decoration: none;
  font-size: 1.2em;
  border-radius: 5px;
  padding: 0.2%;
}

a:hover {
  background-color: #003d6b48;
}

header h1 {
  font-size: 3em;
  font-weight: bolder;
  text-align: center;
  margin-bottom: 5px;
}

header h3 {
  padding: 5px;
  margin-top: 0px;
  font-size: 1.5em;
  text-align: center;
  margin-bottom: 30px;
}

.container-main {
  display: flex;
  flex-direction: column;
  gap: 5vh;
}

section {
  color: aliceblue;
}

section a {
  color: aliceblue;
  text-decoration: none;
  border-radius: 5px;
  background-color: #ff00ea00;
  padding: 5px;
  border: 2px solid #003d6b48;
}

section a:hover {
  background-color: #003d6b48;
}

.container-content {
  background: linear-gradient(
    90deg,
    rgba(247, 161, 0, 0.7) 0%,
    rgba(252, 0, 210, 0.7) 25%,
    rgba(113, 40, 255, 0.7) 50%,
    rgba(0, 137, 255, 0.7) 75%,
    rgba(14, 215, 255, 0.7) 100%
  );
  padding: 20px;
  border-radius: 15px;
  margin: 2%;
}

.container-content h2 {
  padding: 0px;
}

footer {
  color: aliceblue;
  font-size: 80%;
  text-align: center;
}

@media only screen and (max-width: 530px) {
  body {
    font-size: 12px;
  }
  nav{
    padding: 1.5%;
  }
}

@media only screen and (max-width: 430px) {
  body {
    font-size: 10px;
  }
}
